<%- contentFor('HeaderCss') %>
<!-- perticular page css -->

<%- contentFor('body') %>
            <div class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="page-title-box">
                                    <h4 class="page-title">Anasayfa</h4>
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item active">
                                            BenimSayfam Arayüzüne Hoşgeldiniz
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                                <div class="col-xl-4 col-md-6">
                                    <div class="card mini-stat bg-primary">
                                        <div class="card-body mini-stat-img">
                                            <div class="mini-stat-icon">
                                                <i class="mdi mdi-cube-outline float-right"></i>
                                            </div>
                                            <div class="text-white">
                                                <h4 class="text-uppercase mb-3">Öğretmenler</h4>
                                                <span class="badge badge-info"> </span>Yeni kuşak, en büyük cumhuriyetçilik dersini bugünkü öğretmenler topluluğundan ve onların yetiştirecekleri öğretmenlerden alacaktır.<span class="ml-2"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-6">
                                    <div class="card mini-stat bg-primary">
                                        <div class="card-body mini-stat-img">
                                            <div class="mini-stat-icon">
                                                <i class="mdi mdi-buffer float-right"></i>
                                            </div>
                                            <div class="text-white">
                                                
                                                <h4 class="text-uppercase mb-3">Öğrenciler</h4>
                                                <span class="badge badge-info"> </span>Yeni kuşak, en büyük cumhuriyetçilik dersini bugünkü öğretmenler topluluğundan ve onların yetiştirecekleri öğretmenlerden alacaktır.<span class="ml-2"></span>
                                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-6">
                                    <div class="card mini-stat bg-primary">
                                        <div class="card-body mini-stat-img">
                                            <div class="mini-stat-icon">
                                                <i class="mdi mdi-tag-text-outline float-right"></i>
                                            </div>
                                            <div class="text-white">
                                                <h4 class="text-uppercase mb-3">Dersler</h4>
                                                <span class="badge badge-info"> </span>Yeni kuşak, en büyük cumhuriyetçilik dersini bugünkü öğretmenler topluluğundan ve onların yetiştirecekleri öğretmenlerden alacaktır.<span class="ml-2"></span>
                                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end row -->
            
                            <div class="row">
            
                                <div class="col-xl-3">
                                    <div class="card m-b-20">
                                        <div class="card-body">
                                            <h4 class="mt-0 header-title">Kurslarınızı Oluşturun</h4>
                                            <p class="text-muted"> Öğrencilerinizi Ekleyin Ve Canlı Dersler Verin</p>
                                             <h4 class="mt-0 header-title">Öğrencilerin Emaillerine Numaralarına Kolayca Ulaşın Linkleri Paylaşın</h4>
                                            
                                            <div class="row text-center m-t-20">
                                            
                                            </div>
            
                                            <div id="morris-donut-example" class="dashboard-charts morris-charts"></div>
                                        </div>
                                    </div>
                                </div>
            
                                <div class="col-xl-6">
                                    <div class="card m-b-20">
                                        <div class="card-body">
                                            <div class="row text-center m-t-20">
                                                <div class="col-6">
                                                    <h5 class=""></h5>
                                                    <img style="width:550px" src="https://cdn.pixabay.com/photo/2017/05/10/08/12/learn-2300141__240.jpg" alt="">
                                                </div>
                                            </div>
            
                                            <div id="morris-area-example" class="dashboard-charts morris-charts"></div>
                                        </div>
                                    </div>
                                </div>
            
                                <div class="col-xl-3">
                                    <div class="card m-b-20">
                                        <div class="card-body">
                                            <h4 class="mt-0 header-title">Öğrencilerinizi Canlı Yayından Kontrol Edin</h4>
                                             <p class="text-muted"> Pandemi Günlerinin En İyi Yardımcısı</p>
                                            <div id="morris-bar-stacked" class="dashboard-charts morris-charts"></div>
                                        </div>
                                    </div>
                                </div>
            
                            </div>
                        
                    </div> <!-- container-fluid -->
                </div> <!-- content -->

                <%- contentFor('FooterJs') %>
      <!--Morris Chart-->
      <script src="public/plugins/morris/morris.min.js"></script>
      <script src="public/plugins/raphael/raphael-min.js"></script>
      <script src="public/assets/pages/dashboard.js"></script>




