<% include ../Partials/HeaderRoot  %>
        <div class="wrapper-page">

            <div class="card">
                <div class="card-body">

                    <h3 class="text-center m-0">
                        <a href="/" class="logo logo-admin"><img src="public/assets/images/logo.png" height="70" alt="logo"></a>
                    </h3>

                    <div class="p-3">
                        <h4 class="text-muted font-18 m-b-5 text-center">Hoşgeldiniz !</h4>
                        <p class="text-muted text-center">Haydi Giriş Yapın</p>
                        <form class="form-horizontal m-t-30" action="/auth" method="POST">
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" name="username" id="username" placeholder="Enter username">
                            </div>

                            <div class="form-group">
                                <label for="userpassword">Password</label>
                                <input type="password" class="form-control" name="password" id="userpassword" placeholder="Enter password">
                            </div>

                            <div class="form-group row m-t-20">
                                <div class="col-6">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customControlInline">
                                        <label class="custom-control-label" for="customControlInline">Beni Hatırla</label>
                                    </div>
                                </div>
                                <div class="col-6 text-right">
                                    <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Log In</button>
                                </div>
                            </div>

                            <div class="form-group m-t-10 mb-0 row">
                                <div class="col-12 m-t-20">
                                    <a href="pages-recoverpw" class="text-muted"><i class="mdi mdi-lock"></i>Şifreni Mi Unuttun?</a>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

            <div class="m-t-40 text-center">
                <p>Hesabınız Yok Mu  ? <a href="/Signup" class="text-primary"> Şimdi Kayıt Ol </a> </p>

                <p> © 2020 AyzaSoft - <span class="d-none d-sm-inline-block"> Oluşturuldu <i class="mdi mdi-heart text-danger"></i> İrem SİMSAR</span></p>       

    
            </div>

        </div>

        <% include ../Partials/FooterRoot  %>