
 <footer class="footer">
                        © 2020 AyzaSoft - <span class="d-none d-sm-inline-block"> Crafted with <i class="mdi mdi-heart text-danger"></i> İrem SİMSAR</span>
                </footer>

    