<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *Must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>AYZASOFT &amp; Yazılım Donanım | Home</title>

    <!-- Favicon -->
    <link rel="icon" href="public/home/img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link href="public/home/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="public/home/css/animate.css" rel="stylesheet" type="text/css">
    <link href="public/home/css/classy-nav.min.css" rel="stylesheet" type="text/css">
    <link href="public/home/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="public/home/css/magnific-popup.css" rel="stylesheet" type="text/css">
    <link href="public/home/css/owl.carousel.min.css" rel="stylesheet" type="text/css">
    <link href="public/style.css" rel="stylesheet" type="text/css">
    <link href="public/style.css.map" rel="stylesheet" type="text/css">

    <link href="public/home/scss/_fonts.scss" rel="stylesheet" type="text/scss">
    <link href="public/home/scss/_mixin.scss" rel="stylesheet" type="text/scss">
    <link href="public/home/scss/_responsive.scss" rel="stylesheet" type="text/scss">
    <link href="public/home/scss/_theme_color.scss" rel="stylesheet" type="text/scss">
    <link rel="stylesheet" href="public/home/scss/style.scss">

</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="spinner"></div>
    </div>

    <!-- ##### Header Area Start ##### -->
     <!-- ##### Header Area Start ##### -->
       <header class="header-area"> 
        <!-- Navbar Area -->
        <div class="clever-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="cleverNav">

                    <!-- Logo -->
                    
                    <a class="nav-brand" href="index.html"><img src="public/assets/images/logo.png" style="with:20px;height:40px" alt=""></a>


                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a href="/">Anasayfa</a></li>
                                <li><a href="/Kurslar">Kurslar</a></li>
                                <li><a href="/egitmenler">Eğitmenler</a></li>
                                <li><a href="/Blog">Blog</a></li>
                                <li><a href="/iletisim">İletişim</a></li>
                            </ul>

                            <!-- Search Button -->
                            <div class="search-area">
                                <form action="#" method="post">
                                    <input type="search" name="search" id="search" placeholder="Search">
                                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </form>
                            </div>


                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </header>
