<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *Must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>AYZASOFT &amp; Yazılım Donanım | Home</title>

    <!-- Favicon -->
    <link rel="icon" href="public/home/img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link href="public/home/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="public/home/css/animate.css" rel="stylesheet" type="text/css">
    <link href="public/home/css/classy-nav.min.css" rel="stylesheet" type="text/css">
    <link href="public/home/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="public/home/css/magnific-popup.css" rel="stylesheet" type="text/css">
    <link href="public/home/css/owl.carousel.min.css" rel="stylesheet" type="text/css">
    <link href="public/style.css" rel="stylesheet" type="text/css">
    <link href="public/style.css.map" rel="stylesheet" type="text/css">

    <link href="public/home/scss/_fonts.scss" rel="stylesheet" type="text/scss">
    <link href="public/home/scss/_mixin.scss" rel="stylesheet" type="text/scss">
    <link href="public/home/scss/_responsive.scss" rel="stylesheet" type="text/scss">
    <link href="public/home/scss/_theme_color.scss" rel="stylesheet" type="text/scss">
    <link rel="stylesheet" href="public/home/scss/style.scss">

    
<script src='https://meet.jit.si/external_api.js'></script>

</head>

<body>

    <!-- Preloader -->
    <div id="preloader">
        <div class="spinner"></div>
    </div>

    <!-- ##### Header Area Start ##### -->
     <!-- ##### Header Area Start ##### -->
       <header class="header-area"> 
        <!-- Navbar Area -->
        <div class="clever-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="cleverNav">

                    <!-- Logo -->
                    
                    <a class="nav-brand" href="index.html"><img src="public/assets/images/logo.png" style="with:20px;height:40px" alt=""></a>


                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a href="/">Anasayfa</a></li>
                                <li><a href="/Kurslar">Kurslar</a></li>
                                <li><a href="/Egitmenler">Eğitmenler</a></li>
                                <li><a href="/Blog">Blog</a></li>
                                <li><a href="/İletisim">İletişim</a></li>
                            </ul>

                            <!-- Search Button -->
                            <div class="search-area">
                                <form action="#" method="post">
                                    <input type="search" name="search" id="search" placeholder="Search">
                                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </form>
                            </div>

                            

                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </header>
   <div class="breadcumb-area">
        <!-- Breadcumb -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
                <li class="breadcrumb-item"><a href="/Kurslar">Canlı Ders</a></li>
            </ol>
        </nav>
    </div>
    <!-- ##### Regular Page Area Start ##### -->
    <div class="clever-catagory bg-img d-flex align-items-center justify-content-center p-3" style="background-image: url(public/home/img/kurs.jpeg); height: 100px;">
        <h3>Canlı Ders</h3>
    </div>

    <div class="regular-page-area section-padding-100 mt-10">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="page-content">
                      <div id="jitsi-container"></div>
                     </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Regular Page Area End ##### -->
    
      <footer class="footer-area">
        <!-- Top Footer Area -->
        <div class="top-footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Footer Logo -->
                        <div class="footer-logo">
                            <a href="index.html"><img src="img/core-img/logo2.png" alt=""></a>
                        </div>
                        <!-- Copywrite -->
                        <p><a href="#"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">İrem SİMSAR</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bottom Footer Area -->
        <div class="bottom-footer-area d-flex justify-content-between align-items-center">
            <!-- Follow Us -->
            <div class="follow-us">
                <span>Follow us</span>
                <a href="https://www.facebook.com/iremsimsar"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="https://www.instagram.com/iremsimsarr/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="https://twitter.com/iremsmsr"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="https://www.linkedin.com/in/iremsimsar/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->
<script>
var container = document.querySelector('#jitsi-container');
var api = null;

    var domain = "meet.jit.si";
    var options = {
        "roomName": "foo-bar-c8cfdb0d-135a-4462-a05b-36575c3ef591",
        "parentNode": container,
        "height": 500,
        devices: {
        audioInput: '<deviceLabel>',
        audioOutput: '<deviceLabel>',
        videoInput: '<deviceLabel>'
    },
    };
    api = new JitsiMeetExternalAPI(domain, options);

</script>
    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 public/home/js -->
    <script src="public/home/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper public/home/js -->
    <script src="public/home/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap public/home/js -->
    <script src="public/home/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins public/home/js -->
    <script src="public/home/js/plugins/plugins.js"></script>
    <!-- Active public/home/js -->
    <script src="public/home/js/active.js"></script>
       <!-- Google Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwuyLRa1uKNtbgx6xAJVmWy-zADgegA2s"></script>
    <script src="public/home/js/google-map/map-active.js"></script>
</body>

</html>